<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="javascripts/userPage.js"></script>

<div class='jumbotron'>
<h1>Hello, {{userName}}</h1> 
<a class="btn btn-lg btn-primary" id="schedule" href="#" role="button">Schedule a New Meeting</a>
</div>


<h1>Your Meetings:</h1>
{{#if meetings.length}}
<ul class="list-group" class="dropdown-header">
  {{#each meetings}}
    <li name="meeting" id={{this._id}} class="list-group-item">{{this.title}} in {{this.location}}</li>
  {{/each}}
</ul>
{{else}}
  <p>You have no meetings. </p>
{{/if}}


